/*##################################################
############FilterBar Styles########################
##################################################*/
.filterBar{
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	width: 100%;
	overflow:hidden;
	text-align: center;
}

.filterBar ul {
    list-style-type: none;
    padding: 0;
	display: inline;
	width:100%;
}

.filterBar li{
	display: inline-block;
	padding: 0px 15px;
}

.filterBar li:hover{
	font-weight: bold;
}

.filterBar a{
	display: inline-block;
  vertical-align: middle;
	text-decoration: none;
	width: 100%;
	margin: 0px auto;
	font-family: Baskerville Old Face;
	color: #000;
	font-size: 22px;
	padding: 5px;
}