body{
	margin: 0;
	background-color: #fff;
}
.banner{
	height: 145px;
}

.navBar{
	margin: 0px;
	padding: 0px;
	background-color: #30373f;
	height: 45px;
	width: 100%;
	/*overflow: auto;*/
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	display: inline;
}

.navBar li{
	float: right;
	height: 45px;
}

.navElement{
	display: inline-block;
    vertical-align: middle;
	text-decoration: none;
	margin: 10px;
	font-family: Baskerville Old Face;
	color: #fff;
	font-size: 20px;
}

.navElement:hover{
	text-decoration:underline;
}

.titleFont{
	font-family: Baskerville Old Face;
	color: #ffffff;
	font-size: 32px;
	line-height: 45px;
}
.navBar p{
	margin: 0px;
	margin-left:5px;
	display: inline;	
	float: left;
}